.btn.btn-default.search{
	padding-top: 20px;
	font-size: 15px;
	text-align: center;
}
.item.active{
	text-align: left;
	padding-top: 200px; 
	height: 450px;          
}
.item.center{
	padding-top: 200px; 
	text-align: center;
}
.item.right{
	padding-top: 200px; 
	text-align: right;
}
.jumbotron{
	background-color: gray;
}
.col-md-1{
	padding-top: 500px;
}
.col-md-4{
	text-align: center;
}
.size{
	font-size: 60px;
}
.size1{
	font-size: 20px;
}
